{% load static %}
<li>
  <span style="background: #d0e6e4">
    <a style="color: #000; text-decoration: none" data-toggle="collapse" href="#{{employee.id}}" aria-expanded="true"
      aria-controls="{{employee.id}}">
      <div class="row">
        <div class="col">
          <div class="d-flex">
            <div class="p-1 d-flex justify-content-center align-items-center">
              <i class="collapsed"><i class="fas fa-folder"></i></i>
              <i class="expanded"><i class="far fa-folder-open"></i></i>
            </div>
            <img src="{% static 'img\user_icons\boy.png' %}" height="50" />
            <div class="alert-link d-flex justify-content-center align-items-center w-100">
              {{ employee.position }}
            </div>
          </div>
          <div>{{ employee.full_name }}</div>
        </div>
      </div>
    </a>
  </span>
  <div id="{{employee.id}}" class="collapse show">
    <ul>
      {% for subordinate in employee.subordinates %}
      <li>
        <span class="subordinate" style="background: #d0e6e4" data-id="{{subordinate.id}}"><a
            style="color: #000; text-decoration: none" data-toggle="collapse" href="#{{subordinate.id}}"
            aria-expanded="false" aria-controls="{{subordinate.id}}">
            <div class="row">
              <div class="col">
                <div class="d-flex">
                  <div class="p-1 d-flex justify-content-center align-items-center">
                    <i class="collapsed"><i class="fas fa-folder"></i></i>
                    <i class="expanded"><i class="far fa-folder-open"></i></i>
                  </div>
                  <img src="{% static 'img\user_icons\boy.png' %}" height="50" />
                  <div class="alert-link d-flex justify-content-center align-items-center w-100">
                    {{ subordinate.position }}
                  </div>
                </div>
                <div>{{ subordinate.full_name }}</div>
              </div>
            </div>
          </a></span>
      </li>
      {% endfor %}
    </ul>
  </div>
</li>