{% load static %}
<ul>
  <div id="{{employee_id}}" class="collapse show">
    {% for subordinate in subordinates %}
    <li>
      <span class="loaded" style="background: #d0e6e4;" data-id="{{subordinate.id}}"><a
          style="color: #000; text-decoration: none" data-toggle="collapse" href="#{{subordinate.id}}"
          aria-expanded="false" aria-controls="{{subordinate.id}}">
          <!--<i class="collapsed"><i class="fas fa-folder"></i></i>
          <i class="expanded"><i class="far fa-folder-open"></i></i>
        <img src="{% static 'img\user_icons\boy.png' %}" height="50">
          {{ subordinate.full_name }}({{ subordinate.position }}) -->
          <div class="row">
            <div class="col">
              <div class="d-flex">
                <div class="p-1 d-flex justify-content-center align-items-center">
                  <i class="collapsed"><i class="fas fa-folder"></i></i>
                  <i class="expanded"><i class="far fa-folder-open"></i></i>
                </div>
                <img src="{% static 'img\user_icons\boy.png' %}" height="50" />
                <div class="alert-link d-flex justify-content-center align-items-center w-100">
                  {{ subordinate.position }}
                </div>
              </div>
              <div>{{ subordinate.full_name }}</div>
            </div>
          </div>
        </a></span>
      <ul>
        <div id="{{subordinate.id}}" class="collapse">
          {% for second_subordinate in subordinate.subordinates %}
          <li>
            <span class="subordinate" style="background: #d0e6e4;" data-id="{{second_subordinate.id}}"><a
                style="color: #000; text-decoration: none" data-toggle="collapse" href="#{{second_subordinate.id}}"
                aria-expanded="false" aria-controls="{{second_subordinate.id}}">
                <div class="row">
                  <div class="col">
                    <div class="d-flex">
                      <div class="p-1 d-flex justify-content-center align-items-center">
                        <i class="collapsed"><i class="fas fa-folder"></i></i>
                        <i class="expanded"><i class="far fa-folder-open"></i></i>
                      </div>
                      <img src="{% static 'img\user_icons\boy.png' %}" height="50" />
                      <div class="alert-link d-flex justify-content-center align-items-center w-100">
                        {{ second_subordinate.position }}
                      </div>
                    </div>
                    <div>{{ second_subordinate.full_name }}</div>
                  </div>
                </div>
              </a></span>
          </li>
          {% endfor %}
        </div>
      </ul>
    </li>
    {% endfor %}
  </div>
</ul>